/*
$background: #040E1E url('/images/background.jpg');
$foreground: #E6EBFB;
$ui-background: #344566;
*/

html {
  background: url("img/bkd_page.jpg") no-repeat fixed center center #0d0d0d;
  background-size: cover;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  font-family: monospace;
}

body {
  /* background: rgba(13, 16, 20, 0.50); */
  /* color: #E6EBFB; */
  font-size: 12px;
  font-family: monospace;
  line-height: 12px;
}

body, input, select, button, textarea, a, td, th, tr, table,a:visited {
  color: #ffffffff;
}

body.mceContentBody, input, button, select, option, textarea, .ui-widget-content {
  background: rgb(3 11 10 / 57%);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 0.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 3px;
  font-family: monospace, sans-serif;
}

input[type="radio"] {
  background: transparent;
  border: 0 none;
}

#menu {
  position: fixed;
  overflow-y: auto;
  height: calc(100vh - 100px);
  max-width: 180px;
}

menu .fixed {
  list-style: none;
  position: static;
  top: 100px;
  width: 180px;
}

/* #menu li:first-child, #menu li:last-child{
	background-color:transparent;
} */

menu li {
  border-bottom: 0px solid black;
}

logo a img {
  width: 180px;
  height: 100px; 
  padding-left: 200px;
  background: url(gebaeude/pr0gamelogo.png) center top no-repeat;
}

.card .title {
  border: 1px solid #000;
  color: #FFF;
  font-weight: bold;
}

.card .content {
  background: rgba(13, 16, 20, 0.95);
  border: 1px solid #000;
}

a:hover {
  color:#FFF;
  font-weight: bold;
}

table, td, th {
  font-weight: 400
}

table table, img {
  border: 0;
}

input, select, textarea, #userpic, input, button {
  border: 1px solid #ffffff69;
}

button.selected {
  border: 1px solid #1C1FD3;
}

td, th input, .tip {
  border: 1px solid #44444429;
  text-align: center;
  border: 1px solid rgb(255 255 255 / 10%);
  font-size: 11px;
}

.tip {
  border: 1px solid #44444429;
  text-align: center;
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 0.5px );
  border: 1px solid rgb(255 255 255 / 10%);
  font-size: 11px;
}

td, .tip {
  text-align: center;
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 0.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

input, button {
  text-align: center
}

th, .ui-widget-header {
  color: #e9e7e7;
  font-weight: 700;
  text-align: left;
  background: rgba( 90, 90, 90, 0.15 );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.trade-disallowed > td {
  background: #001004;
}

.trade-enemy > .table_username {
  color: #F00;
}

.trade-ally > .table_username {
  color: #0F0;
}

.no-background, .no-background > th, .no-background > td {
  background-image: none;
  background: transparent;
}

.center, .center > th, .center > td {
  text-align: center;
}


.no-border, .no-border > th, .no-border > td {
  border: 0px;
}

th a:hover, .ui-widget-header a:hover, .article a:hover {
  color: #FFF;
  font-weight: bold;
}

th a:hover, .ui-widget-header a:hover {
  font-weight: bold;
}

textarea {
  background: transparent;
}

select {
  border: 1px solid #5c5c5c
}

/*Global Messgae */

.admin {
  color: red;
}

.mod {
  color: yellow;
}

.ops {
  color: skyblue;
}

.messages_body .admin {
  font-weight: 700;
  color: red;
}

.messages_body .mod {
  font-weight: 700;
  color: yellow;
}

.messages_body .ops {
  font-weight: 700;
  color: skyblue;
}

.res_name {
  color: red;
  font-weight: 700
}

.galaxy-alliance-member {
  color: #99FF66;
}

.galaxy-alliance-friend, .galaxy-friend {
  color: #99FFFF;
}

.galaxy-alliance-traid {
  color: #28fab0;
}

.galaxy-alliance-enemy {
  color: #FF0000;
}

.galaxy-alliance-secret {
  color: #ff66ff;
}

.galaxy-short-noob,
.galaxy-username-noob {
  color: #a0ffa0
}

.galaxy-short-strong,
.galaxy-username-strong {
  color: #ffa0a0
}

.galaxy-short-inactive,
.galaxy-username-inactive {
  color: #ccc
}

.galaxy-short-longinactive,
.galaxy-username-longinactive {
  color: #8c6868
}

.galaxy-short-vacation,
.galaxy-username-vacation {
  color: #659ec7
}

.galaxy-short-banned {
  text-decoration: line-through
}

.allymember, .colony, .deploy, .harvest, .transport, .success {
  color: lime
}

.build_submit {
  background-color: #20202082;
  border: 1px solid;
  text-align: center;
  font-weight: bold;
  min-height: 35px;
  background: rgb(3 11 10 / 57%);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 0.5px );
  border-color: #8A8A8A #666666 #666666 #8A8A8A;
  padding: 3px;
  font-family: monospace, sans-serif;
  min-width: 150px;
}

.onlist {
  background: rgb(3 11 10 / 57%);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 0.5px );
  border-color: #8A8A8A #666666 #666666 #8A8A8A;
  border: 0px;
  background: none;
  min-width: 0px;
  min-height: 0px;
}

/** LOGO **/

.logo .fixed {
  background: #0D1014;
  background: rgba(13, 16, 20, 0.95);
  border-bottom: 1px solid black;
}

/** HEADER **/

header .fixed {
  background: #0D1014;
  background: rgba(0, 0, 0, 1);
  /* border: 1px solid black; */
  border-bottom: 1px solid black;
}

#resourcesdiv {
  text-align: center;
}

/** MENU **/

.menu-separator {

  box-shadow: 0 8px 32px 0 rgba( 255, 255, 255, 0.1 );
  background: rgb(0 0 0 / 90%);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 0.5px );
  border: 0px solid rgba( 255, 255, 255, 0.18 );
}

menu a {
  text-align: center;
  background: rgb(0 0 0 / 90%);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 0.5px );
  border: 1px solid rgba(255, 255, 255, 0.5);
}

menu a:hover {
  color: #ffffff;
  font-weight: bold;
  background: rgb(90 90 90 / 30%);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 0.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

div#disclamer a {
  background: unset;
  border-top: unset;
}

/* PLANETMENU */

#planet_menu_link {
  font-weight: 700;
}

#planet_menu_header {
  text-align: right;
}

#planet_menu_content li {
  text-align: center;
}


/* CONTENT */

.tip th {
  text-align: center
}

.transparent, header td, .tip td, .tip th, .raportMessage td {
  background: transparent;
  border: none;
  filter: none !important;
}

.mes_unread td {
  font-weight: 700;
  background-color: #212428;
}

a {
  text-decoration: none;
}

th a, .res_current {
  color: #FFF
}

.attack, .error {
  color: red
}

.federation {
  color: rgb(51, 153, 102)
}

#fleetstatustable td {
  background: transparent;
  background-image: none;
  border: 0 none
}

.raportWin {
  color: lime;
}

.raportLose {
  color: red;
}

.ui-progressbar-value {
  background-image: url(img/processbar.gif);
  background-position: top left;
  border-color: #000;
}

.spyRaportContainerHead {
  background: #212428;
  color: white;
  font-weight: 700;
  text-align: left;
  margin: 3px 0;
  padding: 3px;
}

.spyRaportContainerRow {
  border-top: 1px solid #DDD;
}

.spyRaportContainerHead + .spyRaportContainerRow {
  border-top: 0 none;
}

.message-box {
  margin: 0 0 0 744px;
  position: fixed;
  top: 100px;
  max-width: 175px;
}

.message {
  background-color: #6f6f6f73;
  box-shadow: 0 8px 32px 0 rgb(255 255 255 / 10%);
  padding: 8px;
  text-align: center;
  height: fit-content;
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 0.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin-bottom: 5px;
}

@media screen and (min-width: 700px) and (max-width: 1600px) {
  .message {
    right: 10.5%;
    margin: 0;
  }
}

@media screen and (max-width: 699px) {
  .message-box {
    bottom: 0;
    width: 100%;
    max-width: unset;
    top: unset;
    margin: 0;
  }

  .message {
    margin-top: 5px;
    margin-bottom: 0px;
  }

  .gal1 {
    position: fixed;
    font-size: unset !important;
    margin: 5% auto;
    left: 0;
    right: 0;

  }
}

img {
  border-radius: 0px;
  box-shadow: 0 0px 30px 3px rgb(0 0 0 / 33%);
}

#resource_mobile a {
  line-height: 1.1;
}

#resource_mobile a div.colorNegative:not(.res_current_max) {
  color: var(--tv-color-secondary) !important;
}

#resource_mobile img {
  margin-bottom: 3px;
}

.realHighRess {
    background-color: #455585;
}

.tutorial {
  border: 1px solid rgba( 255, 255, 255, 0.5 );
}

.tutorial-header {
  border: 1px solid rgba( 255, 255, 255, 0.5 );
}

.planeto {
  text-align: center;
  margin: 0.5% auto;
  font-weight: bold;
}

.infos {
  text-align: center;
  margin-top: 1px;
  padding: 5px;
  overflow: auto;
  border: 1px solid rgba( 255, 255, 255, 0.5 );
}

.infoso {
  text-align: center;
  background: #343b6bba;
  border-radius: 15px;
  margin-top: 10px;
  overflow: auto;
}

top .fixed {
  position: fixed;
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 1);
  border-bottom: 1px solid black;
  z-index: 2;
}

.infos1 {
  text-align: center;
  overflow: auto;
  margin: 0 10px 0 10px;
  backdrop-filter: blur( 0.5px );
  -webkit-backdrop-filter: blur( 0.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  min-height: 90px;
}

.moon {
  float: left;
  width: 30%;
  padding: 10px;

}

.planetl {
  float: left;
  padding-left: 8px;
  min-height: 176px;
}

.planeth {
  padding-top: 10px;
  text-align: left;


}

.galaxy {
  float: left;
  margin: 5px auto;
  width: 50%;

}

.gal1 {
  background: #243463f5;
  text-align: center;
  border-radius: 15px;
  padding: 5px;
  font-size: medium;
}

.g1 {
  margin: auto;
  text-align: center;
}

.g2 {
  min-width: 10%;
  width: min-content;
  float: left;
  height: 105px;
  text-align: center;
  margin: 0 5px;
}

.g3 {

  width: 115px;
  float: left;
  height: 105px;
  text-align: center;
}

.planetb {
  min-width: 296px;
  float: left;
  background: #01111fab;
  padding: 5px;
  width: 33%;
  height: 135px;
}

.planetb1 {
  min-width: 296px;
  float: left;
  background: #01111fab;
  padding: 5px;
  width: 33%;
  border: 1px solid #336c7b;
  height: 133px;
}

.gal2 {
  background: #243463f5;
  text-align: center;
  border-radius: 15px;
  padding: 5px;
  font-size: medium;
  float: left;
}

.planeth img {
  margin: 0px;
}

.bulida {
  float: left;
  width: 35%;
  line-height: 1.7;
  padding: 4px;
  height: 69px;
  font-size: 11px;
  margin-top: 5px;
}

.buildb {
  float: left;
  width: 65%;
  line-height: 1;
  padding: 12px;
  height: 69px;
  margin-top: 7px;

}
.buildc {
  float: middle;
  width: 100%;
  line-height: 1.4;
  padding: 12px;
  height: 69px;

}

.hidden-div {
  border: 2px solid #ee4d2e;
  border-radius: 15px;
  margin: 3px;
  padding: 10px 30px;
  text-align: left;
}

.buildl {
  float: left;
  width: 50%;
  line-height: 1.4;
  padding: 10px;
  text-align: center;
  height: auto;
  font-size: 11px
}

.buildn {
  padding: 6px;
  overflow: auto;
}

.buildn a:hover {
  color: #2cbbf7;
  font-weight: bold;

}

.techb {
  background: #7edfff29;
  padding: 5px;
  overflow: hidden;
  text-align: left;
  width: 100%;
}

.techi {
  margin: 5px 0 0 5px;
  min-height: 240px;
  min-width: 172px;
  float: left;
  width: 32.5%;
  padding: 3px;
  box-shadow: 0 0px 10px 2px rgba( 255, 255, 255, 0.1 );
  backdrop-filter: blur( 0.5px );
  -webkit-backdrop-filter: blur( 0.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.ship {
  margin: 0 auto;
  max-width: 400px;
  background: #2b3038d1;
}

.shipumode {
  margin: 0 auto;
  max-width: 400px;
  background: #1b2e58d1;
  border-radius: 25px;
}

.shipl {
  margin-top: 10px;
  padding: 10px;
  overflow: auto;
  border: none;

}

.z {
  margin: 5px auto;
  padding: 10px;
  max-width: 300px;
  background: #303c45;
  color: #e9ff79;
  text-transform: uppercase;
}

.zumode {
  margin: 5px auto;
  padding: 10px;
  max-width: 300px;
  background: #1b4c6e;
  border-radius: 25px;
  color: #e9ff79;
  text-transform: uppercase;
}

.b {
  background-color: #20202082;
  border: 1px solid;
  text-align: center;
  font-weight: bold;
  min-height: 40px;
  background: rgb(3 11 10 / 57%);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 0.5px );
  border-color: #8A8A8A #666666 #666666 #8A8A8A;
  padding: 3px;
  font-family: monospace, sans-serif;
}


input:hover {
  color: #ffffff;
}

.ui-autocomplete, .ui-state-hover, .ui-state-default, .ui-tabs-nav, .ui-tabs, .ui-progressbar, .ui-progressbar-value {
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;

}

.ui-state-default {
  border: 1px solid #000 !important;
  background: #0D1014 !important;
}

.ui-state-default > a {
  cursor: pointer !important;
}

.ui-state-hover, .ui-progressbar {
  border: 1px #000 !important;
  background: #979797 !important;
}

.ui-tabs-nav {
  padding: 0;
}

.ui-tabs {
  border: 1px solid #000;
  background: transparent;
}

@media screen and (max-width: 520px) {
  div .buildc {
    border: none;
  }

  div .buildb {
    border: none;
  }

  div .bulida {
    border: none;
  }
}

.card {
  background-color: rgba(5, 5, 5, 0.5) !important;
  border: 1px solid #444;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.card-header, .card-header .card-actions a, .card-header .card-actions button
.card-footer, .card-footer .card-actions a, .card-footer .card-actions button {
  color: #fff;
  border-left: 0;
}

.card-header, .card-footer, .spyReportCat {
  background-color: #252831;
}

.card-header {
  border-bottom: 1px solid #444;
}

.card-footer {
  border-top: 1px solid #444;
}

.card-footer, .card {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
input:invalid, textarea:invalid { background-color: #2a2e31; }
