{include file="overall_header.tpl"}
<table width="40%">
<th colspan="9">{$ban_title}</th>
<tr>
	<td><a href="?page=bans&amp;mode=account"><img src="./styles/resource/images/admin/arrowright.png" width="16" height="10"> {$ban_title_a}</a></td>
   	<td><a href="?page=bans&amp;mode=user"><img src="./styles/resource/images/admin/arrowright.png" width="16" height="10"> {$ban_title_u}</a></td>
</tr>
</table>
{include file="overall_footer.tpl"}