{include file="overall_header.tpl"}
<table width="40%">
<th colspan="9">{$new_creator_title}</th>
<tr>
	<td><a href="?page=create&amp;mode=account"><img src="./styles/resource/images/admin/arrowright.png" width="16" height="10"> {$new_creator_title_a}</a></td>
   	<td><a href="?page=create&amp;mode=user"><img src="./styles/resource/images/admin/arrowright.png" width="16" height="10"> {$new_creator_title_u}</a></td>
   	<td><a href="?page=create&amp;mode=planet"><img src="./styles/resource/images/admin/arrowright.png" width="16" height="10"> {$new_creator_title_p}</a></td>
   	<td><a href="?page=create&amp;mode=moon"><img src="./styles/resource/images/admin/arrowright.png" width="16" height="10"> {$new_creator_title_l}</a></td>
</tr>
</table>
{include file="overall_footer.tpl"}